@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body {
  font-family: 'Inter', sans-serif;
  background-color: #E5E7EB;
  margin: 0;
  padding: 0;
  color: #1F2937; /* Optional: dark slate text for better readability */
}